
<h1>Add pictures</h1>
<br /><br />

<%=form_tag(admin_upload_path, :method => "post", :enctype => 'multipart/form-data')%>
<h3>Select pictures you want to add</h3>
  <input name='uploads[]' type="file" multiple><br/>
  <input type='submit' class="btn btn-primary" value="Upload pictures">
<!--/form-->
</form>
<br/>
<br/>
<h1>Edit parameters</h1>
<br/>
<%=form_tag(admin_editparams_path, :method => "post")%>
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>Name</th>
		<th>Value</th>
	</tr>
 <%  Constant.all.each do |c|%>
 	<tr>
 		<td><%= c.name%></td>
 		<td><input name="value_constants[<%= c.name%>][]" value="<%= c.value%>"/></td>
 	</tr>
 <% end%>
</table>
  <input type='submit' class="btn btn-primary" value="Save parameters">
<!--/form-->
</form>
