<%= form_for(admin_pictures_path(@picture)) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.file_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label :thumb_url %>
    <%= f.file_field :thumb_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
