<div class="auth-container">
  <h2><%=t :sign_in%></h2><br/>
  <div class="devise-auth">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email,(t :email) %>
      <%= f.email_field :email %></div>

      <div><%= f.label :password,(t :password) %>
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me,(t :remember_me) %></div>
      <% end -%>

      <div><%= f.submit t(:sign_in_button), :class => 'btn btn-primary' %></div>
    <% end %>

    <%= render "links" %>
  </div>

  <div style='float:left;width:20px;'>
    <div style='width:1px;height:120px;margin-left:9px;background-color:#ccc;'></div>
    <div style='margin:5px 0 5px 0;'><%=t :or%></div>
    <div style='width:1px;height:120px;margin-left:9px;background-color:#ccc;'></div>
  </div>

  <div class="fb-auth">
    <dd><fb:login-button size="large" length="long" onlogin="location.href = '/facebook'" scope="email"><%=t :login_with_fb%></fb:login-button></dd>
  </div>

</div>

  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({
      appId: "<%=Facebook.config[:client_id]%>",
      cookie: true,
      xfbml: true,
      oauth: true
    });
  </script>

  <div id="fb-root"></div>

