<h1>Listing galleries</h1>

<table  class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @galleries.each do |gallery| %>
  <tr>
    <td><%= gallery.name %></td>
    <td>
    	<div class="btn-group">
    		<%= link_to raw('<i class="icon-eye-open icon-white"></i> Show'), gallery, :class => 'btn btn-primary'  %>
    		<%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_gallery_path(gallery), :class => 'btn btn-primary'  %>
    		<%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), gallery, :confirm => 'Are you sure?', :method => :delete , :class => 'btn btn-danger' %>
    	</div>
    </td>	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery', new_gallery_path, :class => 'btn' %>
