<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :email %>
  <%= email_field(:user, :email) %>
  <br/>  <br/>

  <%= f.label :password %>
  <%= password_field_tag(:password) %>
  <br/>

  <%= f.label :password_confirmation %>
  <%= password_field_tag(:password_confirmation) %>
  <br/>

  <%= f.submit "Create", :class=> "btn btn-primary" %>
<% end %>
